<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="main_layout.html">
<div layout:fragment="component">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>EMAIL</th>
          <th>ИМЯ</th>
          <th>ФАМИЛИЯ</th>
          <th>КУРС</th>
          <th>ФАКУЛЬТЕТ</th>
          <th>ПОДРОБНЕЕ</th>
        </tr>
        </thead>
        <tbody id="users">

        </tbody>
      </table>
      <script type="text/javascript">



        loadUsers()

        function loadUsers(){

          const httpRequest=new XMLHttpRequest();
          httpRequest.open("GET", "/admin/users" ,true)
          httpRequest.onreadystatechange=function(){
            if(httpRequest.readyState==XMLHttpRequest.DONE && httpRequest.status==200){
              let jsonResponse=JSON.parse(httpRequest.responseText);

              let tableContent="";

              for (let i=0; i<jsonResponse.length; i++){
                tableContent+="<tr>";
                tableContent+="<td>"+jsonResponse[i].id+"</td>";
                tableContent+="<td>"+jsonResponse[i].email+"</td>";
                tableContent+="<td>"+jsonResponse[i].firstName+"</td>";
                tableContent+="<td>"+jsonResponse[i].lastName+"</td>";
                tableContent+="<td>"+jsonResponse[i].courseNum+"</td>";
                tableContent+="<td>"+jsonResponse[i].facultyName+"</td>";
                tableContent+="<td><button class='btn btn-primary btn-sm'>DETAILS</button></td>"
                tableContent+="</tr>";
              }
              document.getElementById("users").innerHTML=tableContent;
            }
          }
          httpRequest.send();
        }

      </script>
    </div>
  </div>
</div>
</html>